.cart.active .content {
  right: 0;
}

.cart.active .wrapper {
  display: initial;
}

.cart {
  position: absolute;
  z-index: 999;
}

.cart .content {
  position: fixed;
  top: 0;
  right: -420px;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
  min-width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  background: #fff;
}

@media (min-width: 420px) {
  .cart .content {
    min-width: 0;
    max-width: 380px;
    right: -380px;
  }
}

.cart .wrapper {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.cart .back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  min-height: 75px;
  color: #000;
  cursor: pointer;
  border-bottom: 2px solid #ebeef1;
}

@media only screen and (min-width: 1024px) {
  .cart .back-btn {
    min-height: 109px;
  }
}

.cart .back-btn__icon {
  margin-right: 25px;
  width: 25px;
}

.cart .title {
  min-height: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

.cart .title span {
  position: relative;
  color: #000;
  top: -15px;
  left: 15px;
  font-size: 38px;
  text-transform: capitalize;
}

.cart .title__line {
  width: 110px;
  height: 2px;
  background: #000;
  margin-left: 18px;
}

.cart .promo {
  margin: 30px 40px 33px;
  padding-bottom: 33px;
  border-bottom: 2px solid #ebeef1;
  text-align: left;
}

.cart .promo__text {
  margin-bottom: 9px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6ex;
  text-transform: uppercase;
  color: #818d92;
}

.cart .promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 36px;
  position: relative;
}

.cart .promo__promocode-input {
  background: #f4f6f8;
  outline: none;
  padding: 0 150px 0 15px;
  border-radius: 100px;
  width: 100%;
}

.cart .promo__apply-btn {
  background: #000;
  color: #fff;
  width: 137px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  text-transform: uppercase;
  border-radius: 100px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  letter-spacing: 2px;
}

.cart .check {
  text-align: left;
  margin: 0 40px 45px;
}

.cart .check .check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .check .check-item__title {
  font-size: 13px;
  color: #818d92;
}

.cart .check .check-item__value {
  font-size: 16px;
  color: #000;
}

.cart .check__total-cost {
  margin-top: 25px;
}

.cart .check__total-cost-value {
  font-size: 25px !important;
}

.cart .cart__checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 277px;
  margin: 0 auto 25px;
  min-height: 50px;
  border-radius: 100px;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=cart.css.map */