.cart.active {
  .content {
    right: 0;
  }
  .wrapper {
    display: initial;
  }
}
.cart {
  position: absolute;
  z-index: 999;

  .content {
    position: fixed;
    top: 0;
    right: -420px;
    transition: right 0.5s ease;
    min-width: 100vw;
    height: 100%;
    @media (min-width: 420px) {
      min-width: 0;
      max-width: 380px;
      right: -380px;
    }
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: #fff;
  }

  .wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.4);
    display: none;
  }

  .back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    min-height: 75px;
    color: #000;
    cursor: pointer;
    border-bottom: 2px solid #ebeef1;
    @media only screen and (min-width: 1024px) {
      min-height: 109px;
    }
    &__icon {
      margin-right: 25px;
      width: 25px;
    }
  }

  .title {
    min-height: 139px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    span {
      position: relative;
      color: #000;
      top: -15px;
      left: 15px;
      font-size: 38px;
      text-transform: capitalize;
    }
    &__line {
      width: 110px;
      height: 2px;
      background: #000;
      margin-left: 18px;
    }
  }

  .promo {
    margin: 30px 40px 33px;
    padding-bottom: 33px;
    border-bottom: 2px solid #ebeef1;
    text-align: left;
    &__text {
      margin-bottom: 9px;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.6ex;
      text-transform: uppercase;
      color: #818d92;
    }
    &__form {
      display: flex;
      width: 100%;
      min-height: 36px;
      position: relative;
    }
    &__promocode-input {
      background: #f4f6f8;
      outline: none;
      padding: 0 150px 0 15px;
      border-radius: 100px;
      width: 100%;
    }
    &__apply-btn {
      background: #000;
      color: #fff;
      width: 137px;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      text-transform: uppercase;
      border-radius: 100px;
      display: inline-block;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      letter-spacing: 2px;
    }
  }

  .check {
    text-align: left;
    margin: 0 40px 45px;

    .check-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        font-size: 13px;
        color: #818d92;
      }
      &__value {
        font-size: 16px;
        color: #000;
      }
    }

    &__total-cost {
      margin-top: 25px;
    }

    &__total-cost-value {
      font-size: 25px !important;
    }
  }

  .cart__checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 277px;
    margin: 0 auto 25px;
    min-height: 50px;
    border-radius: 100px;
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
