.slogan {
  width: 100%;
  min-height: 140px;
  background: #fff;
  display: grid;
  place-items: center;

  h2 {
    font-weight: 700;
    font-size: 3.88889vw;
    line-height: calc(33px + 2vw);
    word-spacing: 1.48148vw;
    @media only screen and (min-width: 540px) {
      font-size: 21px;
      line-height: 43px;
      word-spacing: 8px;
    }
  }

  .white-span {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 9px 15px;
  }
}
