.main {
  background: rgb(252, 249, 249);
  padding: 5rem 0 15.5rem;

  &__container {
    margin: 0 auto;
    max-width: 1395px;
    padding: 0 1.5rem;
  }
  &__category-title {
    font-size: 3.8rem;
    font-weight: 500;
    color: #000;
  }
  &__category-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    row-gap: 4rem;

    &__item {
      margin: 0 auto;
      @media (min-width: 480px) and (max-width: 767px) {
        width: 430px;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        width: calc((87.5vw - 35px) / 2);
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 430px;
      }
      @media (min-width: 1280px) and (max-width: 1599px) {
        width: calc((86vw - 70px) / 3);
      }
      @media (min-width: 1600px) {
        width: 430px;
      }
    }
  }
}
