.header {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  &__logo {
    width: 112px;
    height: 36px;
  }
  &__col-2 {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  &__nav-btn-container {
    cursor: pointer;
    position: relative;
    height: 20px;
  }
  &__nav-btn {
    width: 34px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      background: #fff;
      height: 2px;
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}
