*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

input {
  font-family: inherit;
  color: inherit;
  display: block;
  border: none;
}

button {
  outline: none;
  border: none;
}

@-webkit-keyframes login-appear {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes login-appear {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.product {
  position: relative;
}

.product__price-tag {
  color: #fff;
  background: #000;
  line-height: 1;
  margin-bottom: -2rem;
  position: absolute;
  width: 20rem;
  height: 4rem;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-right-radius: 2.9rem;
  z-index: 5;
}

.product__header {
  position: relative;
  border-radius: 2.9rem;
  overflow: hidden;
}

.product__img {
  background: #fff;
  padding: 5rem 3rem 2rem;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  width: 100%;
  height: 45rem;
}

.product__details-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10rem;
  text-transform: uppercase;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.product__name {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-top: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 2.9rem;
  background-color: #fff;
  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

.product:hover .product__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.product:hover .product__details-btn {
  opacity: 1;
}

.product:hover .product__name {
  background: #000;
  color: #fff;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list__item {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.nav-list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #fff;
  height: 1px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav-list__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-list__item--active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.product {
  position: relative;
}

.product__price-tag {
  color: #fff;
  background: #000;
  line-height: 1;
  margin-bottom: -2rem;
  position: absolute;
  width: 20rem;
  height: 4rem;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-right-radius: 2.9rem;
  z-index: 5;
}

.product__header {
  position: relative;
  border-radius: 2.9rem;
  overflow: hidden;
}

.product__img {
  background: #fff;
  padding: 5rem 3rem 2rem;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  width: 100%;
  height: 45rem;
}

.product__details-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10rem;
  text-transform: uppercase;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.product__name {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-top: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 2.9rem;
  background-color: #fff;
  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

.product:hover .product__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.product:hover .product__details-btn {
  opacity: 1;
}

.product:hover .product__name {
  background: #000;
  color: #fff;
}

.cart .wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.cart--active .cart__content {
  right: 0;
}

.cart--active .wrapper {
  display: block;
}

.cart__content {
  position: fixed;
  top: 0;
  right: -43rem;
  height: 100%;
  z-index: 1000;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  overflow-y: scroll;
  background: #fff;
}

@media (min-width: 420px) {
  .cart__content {
    min-width: 0;
    max-width: 380px;
    right: -380px;
  }
}

.cart .back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  color: #000;
  cursor: pointer;
  border-bottom: 2px solid #ebeef1;
}

.cart .back-btn__text {
  font-weight: 300;
  font-size: 2.3rem;
}

@media only screen and (min-width: 1024px) {
  .cart .back-btn {
    min-height: 109px;
  }
}

.cart .back-btn__icon {
  margin-right: 25px;
  width: 25px;
}

.cart__title {
  font-size: 3.8rem;
  font-weight: 400;
  color: #000;
  line-height: 14rem;
  position: relative;
  padding: 0 1.8rem;
  border-bottom: 2px solid #000;
}

.cart__title::after {
  content: "";
  top: 50%;
  position: absolute;
  display: inline-block;
  background-color: #000;
  right: 2rem;
  min-width: 11rem;
  height: 2px;
  margin-left: 5rem;
}

.cart .promo {
  margin: 30px 40px 33px;
  padding-bottom: 33px;
  border-bottom: 2px solid #ebeef1;
  text-align: left;
}

.cart .promo__text {
  margin-bottom: 9px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6ex;
  text-transform: uppercase;
  color: #818d92;
}

.cart .promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 36px;
}

.cart .promo__input {
  color: #000;
  font-weight: 700;
  background: #f4f6f8;
  outline: none;
  padding: 0 150px 0 15px;
  border-radius: 100px;
  width: 100%;
}

.cart .promo__apply-btn {
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  margin-left: -8rem;
  text-transform: uppercase;
  border-radius: 10rem;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  letter-spacing: 2px;
}

.cart .check {
  text-align: left;
  margin: 0 40px 45px;
}

.cart .check .check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .check .check-item__title {
  font-size: 1.3rem;
  color: #818d92;
}

.cart .check .check-item__value {
  font-size: 1.6rem;
  color: #000;
}

.cart .check__total-cost {
  margin-top: 2.5rem;
}

.cart .check__total-cost-value {
  font-size: 2.5rem !important;
}

.cart__checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 277px;
  margin: 0 auto 25px;
  min-height: 50px;
  border-radius: 100px;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  background: #0d0d0e;
  padding: 4rem;
  color: #bfbfbf;
  font-size: 18px;
}

@media (min-width: 1024px) {
  .footer {
    height: 34rem;
  }
}

@media (min-width: 1600px) {
  .footer {
    height: 30rem;
  }
}

.footer .joly-bell {
  width: 127px;
  height: 40px;
  fill: rgba(255, 255, 255, 0.8);
}

@media (min-width: 1024px) {
  .footer .joly-bell {
    position: absolute;
    top: 50px;
    left: 0;
  }
}

.footer .prefix {
  font-size: 13px;
  font-weight: 400;
  color: #616060;
  text-transform: uppercase;
}

.footer__content {
  position: relative;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer__content > div {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .footer__content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__nav-menu {
  display: none;
  width: 100%;
}

@media (min-width: 1024px) {
  .footer__nav-menu {
    display: initial;
  }
}

@media (min-width: 1600px) {
  .footer__nav-menu {
    width: 1000px;
    margin-right: auto;
  }
}

.footer__menu {
  display: none;
}

@media (min-width: 1024px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__payment-methods .payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 5px;
}

.footer__payment-methods .payment-list > li:not(:last-child) {
  margin-right: 1rem;
}

.footer__payment-methods .payment-list .payment-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__payment-methods .payment-list .payment-item--visa {
  width: 52.66px;
  height: 17px;
}

.footer__payment-methods .payment-list .payment-item--mastercard {
  width: 76.8px;
  height: 64px;
}

.footer__payment-methods .payment-list .payment-item--privat {
  width: 64px;
  height: 64px;
}

.footer__payment-methods .payment-list .payment-item--liqpay {
  width: 83.3px;
  height: 17px;
}

@media only screen and (min-width: 1024px) {
  .footer__payment-methods .payment-list .payment-item--visa {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .footer__payment-methods .payment-list .payment-item--liqpay {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .footer__payment-methods .payment-list .payment-item--mastercard {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .footer__payment-methods .payment-list .payment-item--privat {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer__payment-methods .payment-list .payment-item:nth-child(n + 2) {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .footer__payment-methods {
    position: absolute;
    top: 50px;
    right: 0;
  }
  .footer__payment-methods .payment-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 17rem;
  }
}

@media (min-width: 1600px) {
  .footer__payment-methods {
    top: 0;
  }
}

@media (min-width: 1024px) {
  .footer__email-container {
    position: absolute;
    top: 50px;
    right: 210px;
    text-align: right;
  }
}

@media (min-width: 1600px) {
  .footer__email-container {
    top: 0;
  }
}

@media (min-width: 1024px) {
  .footer__support-time-container {
    position: absolute;
    top: 130px;
    right: 210px;
    text-align: right;
  }
}

@media (min-width: 1600px) {
  .footer__support-time-container {
    top: 80px;
  }
}

.footer__copyright {
  line-height: 1;
  color: #c9c9c9;
}

@media (min-width: 1024px) {
  .footer__copyright {
    position: absolute;
    top: 130px;
    left: 0;
  }
}

.footer__delivery-text {
  display: none;
}

@media (min-width: 1024px) {
  .footer__delivery-text {
    display: initial;
    text-align: right;
    position: absolute;
    bottom: -20px;
    right: 0;
  }
}

.header {
  background: #000;
  color: #fff;
  border-bottom: 1px solid #616161;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .header {
    padding: 3.5rem 0 0 0;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .header__content {
    display: block;
  }
}

.header__logo-box {
  text-align: center;
}

.header__logo {
  display: block;
  text-align: center;
  width: 11.2rem;
  height: 3.6rem;
  fill: #fff;
}

@media (min-width: 1024px) {
  .header__logo {
    width: 22.5rem;
    height: 7.2rem;
    margin: auto;
  }
}

.header__nav-menu {
  display: none;
}

@media (min-width: 1024px) {
  .header__nav-menu {
    display: block;
  }
}

@media (min-width: 1367px) {
  .header__nav-menu {
    min-width: 1100px;
  }
}

@media (min-width: 1024px) {
  .header__second {
    padding: 2.5rem 5rem;
    border-top: 4px solid #fff;
    margin-top: -4px;
  }
}

@media (min-width: 1367px) {
  .header__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.header__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__others > *:not(:last-child) {
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  .header__others {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__others > *:first-child {
    margin-right: 2rem;
  }
}

@media (min-width: 1367px) {
  .header__others {
    margin-top: 0;
    position: absolute;
    top: 2.7rem;
    right: 3vw;
  }
}

.header .icon {
  font-size: 1.2em;
  cursor: pointer;
}

.header .user-icon-container {
  display: inline-block;
  position: relative;
  height: 1.9rem;
}

.header__nav-btn-container {
  cursor: pointer;
  display: inline-block;
}

@media (min-width: 1024px) {
  .header__nav-btn-container {
    display: none;
  }
}

.header__nav-btn {
  position: relative;
}

.header__nav-btn, .header__nav-btn::before, .header__nav-btn::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__nav-btn::before, .header__nav-btn::after {
  content: "";
  position: absolute;
  left: 0;
}

.header__nav-btn::before {
  top: -1rem;
}

.header__nav-btn::after {
  top: 1rem;
}

.login {
  display: none;
  z-index: 999;
  width: clamp(260px, 366px, 90vw);
  position: absolute;
  top: 5rem;
  right: -8.5rem;
  color: #818d92;
}

.login--active {
  display: block;
  -webkit-animation: login-appear 0.8s backwards;
          animation: login-appear 0.8s backwards;
}

.login--active .wrapper {
  display: block;
}

.login__arrow {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -1rem;
  right: 7.7rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.5rem;
  background: #fff;
}

.login__content {
  background: #fff;
  padding: 8vw;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media only screen and (min-width: 359px) {
  .login__content {
    padding: 30px;
  }
}

.login__cancel-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  color: #000;
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 10px;
}

.login__cancel-btn img {
  width: 20px;
  cursor: pointer;
}

.login .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.login .form .field {
  text-align: left;
}

.login .form .field div {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}

.login .form .field input {
  width: 100%;
  height: 36px;
  padding: 0 15px;
  background-color: #f4f6f8;
  border-radius: 1000px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  outline: none;
}

.login .form__remember-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .form__remember-content label,
.login .form__remember-content span {
  font-size: 15px;
}

.login .form__remember-content label {
  margin-left: 5px;
}

.login .form__remember-content span {
  margin-left: auto;
  border-bottom: dashed 1px #818d92;
}

.login .form__login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 40px;
  margin: 30px auto 0;
  border-radius: 1000px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.login .login-second {
  text-align: center;
  margin-top: 15px;
}

.login .login-second__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.login .login-second__social-links i {
  font-size: 2.5rem;
  line-height: 40px;
  width: 40px;
  color: #000;
}

.login .login-second__or-text {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin: 25px 0;
}

.login .login-second__or-text::after, .login .login-second__or-text::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  top: 10px;
  background: #818d92;
}

.login .login-second__or-text::before {
  left: -15px;
}

.login .login-second__or-text::after {
  right: -15px;
}

.login .login-second__registration-link {
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
}

.login .wrapper {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.sidebar {
  position: fixed;
  z-index: 999;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
  right: -21rem;
  top: 50px;
}

.sidebar .wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  display: none;
}

.sidebar--active {
  right: 0;
}

.sidebar--active .wrapper {
  display: block;
}

.sidebar__cancel-btn {
  padding: 3px;
  color: #000;
  background: #fff;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 10px;
}

.sidebar__cancel-btn:hover {
  background: #faf8f8;
}

.sidebar__cancel-btn :nth-child(1) {
  position: relative;
  top: 2px;
  right: -10px;
  -webkit-transform: scaleX(-1) rotate(8deg);
          transform: scaleX(-1) rotate(8deg);
}

.sidebar__cancel-btn :nth-child(2) {
  position: relative;
  top: 2px;
  right: 10px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.sidebar__list {
  background: #fff;
  color: #000;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border-radius: 15px;
}

.sidebar__list-item {
  text-transform: capitalize;
  padding: 15px 25px;
  cursor: pointer;
  border-top: 0.5px solid darkgray;
}

.sidebar__list-item:first-child {
  border-top: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.sidebar__list-item:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar__list-item:hover {
  background: #faf8f8;
}

.slogan {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 2rem;
}

.slogan h2 {
  width: 90%;
  margin: 0 auto;
  font-size: 4vw;
  font-weight: 700;
  line-height: calc(33px + 2vw);
  word-spacing: 1.48vw;
}

@media (min-width: 540px) {
  .slogan h2 {
    font-size: 2.1rem;
    line-height: 4.3rem;
    word-spacing: 8px;
  }
}

.slogan .white-span {
  color: #fff;
  background: #000;
  padding: 4px 10px;
}

.category {
  background: #fcf9f9;
  padding: 3rem 0;
}

.category__container {
  max-width: 1395px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.category__title {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 43rem;
  margin: 0 auto;
  gap: 3.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .category__list {
    max-width: 87.5vw;
  }
}

.category__item {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .category__item {
    width: calc((87.5vw - 3.5rem) / 2);
    margin: 3.5rem 1.75rem;
  }
}
/*# sourceMappingURL=style.css.map */