.product {
  position: relative;
  $background-color: #fff;
  $transition-duration: 0.5s;

  &__price-tag {
    color: #fff;
    background: #000;
    margin-bottom: -2rem;
    width: 200px;
    height: 40px;
    padding: 0 24px;
    font-size: 24px;
    z-index: 125;
  }
  &__header {
    position: relative;
    border-radius: 29px;
    overflow: hidden;
  }
  &__img {
    background: $background-color;
    padding: 5rem 3rem 2rem;
    transition: filter 0.5s;
  }

  &__details-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #fff;
    opacity: 0;
    transition: opacity $transition-duration ease;
    cursor: pointer;
  }
  &__name {
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 29px;
    margin-top: 15px;
    background: $background-color;
    padding: 10px;
    transition: background $transition-duration ease,
      color $transition-duration ease;
    cursor: pointer;
  }

  &:hover &__img {
    filter: brightness(40%);
  }
  &:hover &__details-btn {
    opacity: 1;
  }
  &:hover &__name {
    background: #000;
    color: #fff;
  }
}
