.cart {
  .wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.4);
    display: none;
  }

  &--active &__content {
    right: 0;
  }

  &--active .wrapper {
    display: block;
  }

  &__content {
    position: fixed;
    top: 0;
    right: -43rem;
    height: 100%;
    z-index: 1000;
    transition: right 0.5s;
    @media (min-width: 420px) {
      min-width: 0;
      max-width: 380px;
      right: -380px;
    }

    overflow-y: scroll;
    background: #fff;
  }

  .back-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 75px;
    color: #000;
    cursor: pointer;
    border-bottom: 2px solid #ebeef1;

    &__text {
      font-weight: 300;
      font-size: 2.3rem;
    }

    @media only screen and (min-width: 1024px) {
      min-height: 109px;
    }
    &__icon {
      margin-right: 25px;
      width: 25px;
    }
  }

  &__title {
    font-size: 3.8rem;
    font-weight: 400;
    color: #000;
    line-height: 14rem;
    position: relative;
    padding: 0 1.8rem;
    border-bottom: 2px solid #000;

    &::after {
      content: "";
      top: 50%;
      position: absolute;
      display: inline-block;
      background-color: #000;
      right: 2rem;
      min-width: 11rem;
      height: 2px;
      margin-left: 5rem;
    }
  }

  // .title {
  //   min-height: 139px;
  //   display: flex;
  //   align-items: center;
  //   border-bottom: 2px solid #000;
  //   &__text {
  //     position: relative;
  //     color: #000;
  //     top: -15px;
  //     left: 15px;
  //     font-size: 38px;
  //     text-transform: capitalize;
  //   }
  //   &__line {
  //     width: 110px;
  //     height: 2px;
  //     background: #000;
  //     margin-left: 18px;
  //   }
  // }
  .promo {
    margin: 30px 40px 33px;
    padding-bottom: 33px;
    border-bottom: 2px solid #ebeef1;
    text-align: left;
    &__text {
      margin-bottom: 9px;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.6ex;
      text-transform: uppercase;
      color: #818d92;
    }
    &__form {
      display: flex;
      width: 100%;
      min-height: 36px;
    }
    &__input {
      color: #000;
      font-weight: 700;
      background: #f4f6f8;
      outline: none;
      padding: 0 150px 0 15px;
      border-radius: 100px;
      width: 100%;
    }
    &__apply-btn {
      background: #000;
      color: #fff;
      padding: 1rem 2rem;
      margin-left: -8rem;
      text-transform: uppercase;
      border-radius: 10rem;
      display: inline-block;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      letter-spacing: 2px;
    }
  }
  .check {
    text-align: left;
    margin: 0 40px 45px;

    .check-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title {
        font-size: 1.3rem;
        color: #818d92;
      }
      &__value {
        font-size: 1.6rem;
        color: #000;
      }
    }

    &__total-cost {
      margin-top: 2.5rem;
    }

    &__total-cost-value {
      font-size: 2.5rem !important;
    }
  }
  &__checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 277px;
    margin: 0 auto 25px;
    min-height: 50px;
    border-radius: 100px;
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
