.footer {
  background: #0d0d0e;
  width: 100%;
  padding: 40px;
  color: #bfbfbf;
  font-size: 18px;
  @media (min-width: 1024px) {
    height: 340px;
  }
  @media (min-width: 1600px) {
    height: 300px;
  }

  .joly-bell {
    width: 127px;
    height: 40px;
    fill: rgba($color: #fff, $alpha: 0.8);
    @media (min-width: 1024px) {
      position: absolute;
      top: 50px;
      left: 0;
    }
  }

  .prefix {
    font-size: 13px;
    font-weight: 400;
    color: #616060;
    text-transform: uppercase;
  }

  &__content {
    position: relative;
    text-align: center;

    & > div {
      @media (max-width: 1024px) {
        margin-top: 20px;
      }
    }
    @media (min-width: 1024px) {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__nav-menu {
    display: none;
    width: 100%;
    @media (min-width: 1024px) {
      display: initial;
    }
    @media (min-width: 1600px) {
      width: 1000px;
      margin-right: auto;
    }
  }
  &__menu {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__payment-methods {
    .payment-list {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 5px;

      & > li:not(:last-child) {
        margin-right: 1rem;
      }

      .payment-item {
        &--visa {
          width: 52.66px;
          height: 17px;
        }
        &--mastercard {
          width: 76.8px;
          height: 64px;
        }
        &--privat {
          width: 64px;
          height: 64px;
        }
        &--liqpay {
          width: 83.3px;
          height: 17px;
        }

        @media only screen and (min-width: 1024px) {
          &--visa {
            order: -4;
          }
          &--liqpay {
            order: -3;
          }
          &--mastercard {
            order: -2;
          }
          &--privat {
            order: -1;
          }
          &:nth-child(n + 2) {
            margin-top: 2rem;
          }
        }
      }
    }
    @media (min-width: 1024px) {
      position: absolute;
      top: 50px;
      right: 0;

      .payment-list {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 17rem;
      }
    }
    @media (min-width: 1600px) {
      top: 0;
    }
  }

  &__email-container {
    @media (min-width: 1024px) {
      position: absolute;
      top: 50px;
      right: 210px;
      text-align: right;
    }
    @media (min-width: 1600px) {
      top: 0;
    }
  }
  &__support-time-container {
    @media (min-width: 1024px) {
      position: absolute;
      top: 130px;
      right: 210px;
      text-align: right;
    }
    @media (min-width: 1600px) {
      top: 80px;
    }
  }
  &__copyright {
    line-height: 1;
    color: #c9c9c9;
    @media (min-width: 1024px) {
      position: absolute;
      top: 130px;
      left: 0;
    }
  }
  &__delivery-text {
    display: none;
    @media (min-width: 1024px) {
      display: initial;
      text-align: right;
      position: absolute;
      bottom: -20px;
      right: 0;
    }
  }
}
