.sidebar.active {
  right: 30px;
  .wrapper {
    display: initial;
  }
}
.sidebar {
  position: fixed;
  z-index: 999;
  transition: right 0.5s ease;
  right: -200px;
  top: 50px;
  &__cancel-btn {
    padding: 3px;
    color: #000;
    background: #fff;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 10px;
    &:hover {
      background: rgb(250, 248, 248);
    }
    :nth-child(1) {
      position: relative;
      top: 2px;
      right: -10px;
      transform: scaleX(-1) rotate(8deg);
    }
    :nth-child(2) {
      position: relative;
      top: 2px;
      right: 10px;
      transform: rotate(8deg);
    }
  }
  &__list {
    background: #fff;
    color: #000;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 15px;
  }
  &__list-item {
    text-transform: capitalize;
    padding: 15px 25px;
    cursor: pointer;
    border-top: 0.5px solid rgb(169, 169, 169);

    &:first-child {
      border-top: none;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &:hover {
      background: rgb(250, 248, 248);
    }
  }

  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.4);
    z-index: -1;
    display: none;
  }
}

// @keyframes wrapper--appear {
//   to {
//     opacity: 0.8;
//   }
// }
// @keyframes wrapper--disappear {
//   to {
//     opacity: 0;
//   }
// }
