.login.active {
  display: initial;
}

.login {
  display: none;
  z-index: 999;
  width: clamp(300px, 366px, 90vw);
  position: absolute;
  top: 50px;
  right: -84px;
  color: #818d92;
}

.login__arrow {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -10px;
  right: 77px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
  background: #fff;
}

.login__content {
  background: #fff;
  padding: 8vw;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media only screen and (min-width: 359px) {
  .login__content {
    padding: 30px;
  }
}

.login__cancel-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #000;
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 10px;
}

.login__cancel-btn :nth-child(1) {
  position: relative;
  top: 2px;
  right: -10px;
  -webkit-transform: scaleX(-1) rotate(8deg);
          transform: scaleX(-1) rotate(8deg);
}

.login__cancel-btn :nth-child(2) {
  position: relative;
  top: 2px;
  right: 10px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.login .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.login .form .field {
  text-align: left;
}

.login .form .field div {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}

.login .form .field input {
  width: 100%;
  height: 36px;
  padding: 0 15px;
  background-color: #f4f6f8;
  border-radius: 1000px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  outline: none;
}

.login .form__remember-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .form__remember-content label,
.login .form__remember-content span {
  font-size: 15px;
}

.login .form__remember-content label {
  margin-left: 5px;
}

.login .form__remember-content span {
  margin-left: auto;
  border-bottom: dashed 1px #818d92;
}

.login .form__login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 40px;
  margin: 30px auto 0;
  border-radius: 1000px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.login .login-second {
  text-align: center;
  margin-top: 15px;
}

.login .login-second__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.login .login-second__social-links i {
  font-size: 2.5rem;
  line-height: 40px;
  width: 40px;
  color: #000;
}

.login .login-second__or-text {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin: 25px 0;
}

.login .login-second__or-text::after, .login .login-second__or-text::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  top: 10px;
  background: #818d92;
}

.login .login-second__or-text::before {
  left: -15px;
}

.login .login-second__or-text::after {
  right: -15px;
}

.login .login-second__registration-link {
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
}

.login .blackout {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
/*# sourceMappingURL=login.css.map */