.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'Hind', sans-serif;
}
ul li {list-style-type: none;}
a {text-decoration: none; cursor: pointer;}
image {max-width: 100%;object-fit: contain;}

.user-logo {
  width: 50px;
  height: 50px;
}
