*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Hind", Arial, sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: contain;
}
input {
  font-family: inherit;
  color: inherit;
  display: block;
  border: none;
}
button {
  outline: none;
  border: none;
}
